/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #f4d03f; /* Желтый цвет */
    padding: 10px;
    text-align: center;
}

header a {
    color: #005f00;
    text-decoration: none;
    font-size: 18px;
}

.total-points {
    text-align: center;
    font-size: 24px;
    margin: 20px;
}

.tap-section {
    text-align: center;
    margin: 20px;
}

.tap-btn, .shop-btn {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    background-color: #f4d03f; /* Желтый цвет */
    border: none;
    cursor: pointer;
}

.tap-btn:hover, .shop-btn:hover {
    background-color: #e1c40f; /* Цвет при наведении */
}

.ads {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.ad {
    background-color: #f4d03f;
    padding: 15px;
    text-align: center;
    width: 30%;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

footer a {
    color: #005f00;
    text-decoration: none;
}
